
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
.playfair {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}
.logo p {
	font-size: 14px;
	margin-top: 4px;
}
.t-center {
	text-align: center;
}
.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.column {
	flex-direction: column;
}
.align-start {
	align-items: flex-start;
}
.justify-center {
	justify-content: center;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 24px;
}
header,footer {
	background-color: rgba(7, 11, 64, 0.9);
	color: white;
}
footer .container {
	width: 1200px;
	margin: 0 auto;
	padding: 48px 0;
}
footer h5.title {
	margin-bottom: 20px;
}
footer p, footer a {
	line-height: 160%;
}
header .container {
	padding:15px 30px;
}
.backoffice .container {
	width: 1250px;
	margin: 0 auto;
}
.connexion .column {
	align-items: flex-start;
}
.connexion input[type=text]{
	width: 40vw;
}
.signin input[type=text], .signin input[type=email]{
	width: 30vw;
}
.connexion .column:nth-child(2),.signin .column:nth-child(1n){
	margin: 0 0 30px 0;
}
.login > .t-center:nth-child(2) p{
	margin: 30px 0;
} 
.login {
	padding: 60px 60px 120px 60px ;
}
.social-link {
	gap: 15px;
}
a:hover {
	border-bottom: 1px solid #fff;
	transition: 500ms;
}
.container.signin {
	width: 1400px;
	margin: 0 auto;
	padding: 60px 60px 120px 60px;
}
.signin .justify-center {
	gap: 15px;
}
.signin h3 {
	margin: 14px 0 28px 0;
}
.col {
	width: calc(100%/4);
	border-right: 1px solid black;
}
.col p {
	padding: 15px 0;
}
.col.action .d-flex {
	gap: 20px;
	padding: 15px;
}
.col.action a:hover {
	border-bottom: 1px solid black;
}
.border {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}
.header-tab .border {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
.header-tab {
	margin-top: 50px;
}
.body-tab {
	margin-bottom: 50px;
}

/********************************************************************/
/* TB Réservation individuelle CSS */

/* Disposition de la page à partir de la version ordinateur 768px */
@media (min-width: 768px) {
	#bodyReserv {
		display: flex;
	}
	#secReserv {
		width: 100%;
		padding: 50px 100px 70px 100px;
	}
	.itemInfo {
		width: 33%;
		padding: 0px 2% 2% 0px ;
	}
}
/* Disposition de la page jusqu'à la version tablette 767px */
@media (max-width: 767px) {
	#secReserv {
		padding: 50px 20px 70px 20px;
	}
	.itemInfo {
		width: 50%;
		padding: 0px 3% 3% 0px ;
	}
}

/* Section d'affichage des produits */
#secReserv {
	width: 100%;
}
/* Titre des divisions */
#secReserv h2 {
	margin-bottom: 50px;
	font-family: Montserrat, sans-serif ;
	text-align: center;
}
#secReserv h3 {
	font-family: Montserrat, sans-serif ;
	margin-top: 30px;
	margin-bottom: 15px;
	text-decoration: underline;
}

/* Division principale de chaque sections */
.divPrincipale {
	width: 100%;
}
/* Mise en place des div en responsive */
.sousDivSand {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

/* Affichage des divisions concernant les infos de item afficher */
.divItemInfo {
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 10px 5px 5px grey;
	background-color: #eeeeee;
}
/* Image pour l'affichage des produits */
#secReserv img{
	width: 100%;
	height: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.itemDesc p {
	padding: 5px;
}

/* Formulaire de saisie du repas */
/* Titre du formulaire */
#formSaisieInfo h3 {
	font-family: Montserrat, sans-serif ;
	margin-top: 50px;
	text-decoration: underline;
	text-align: center;
}
/* Disposition du formulaire */
.saisieInfo {
	width: 100%;
	height: 400px;
}
.divSaisieInfo {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}
.saisieList {
	display: flex;
	flex-direction: column;
	width: 200px;
}
.saisieList label {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

/* Affichage des menus déroulants */
.optionMenu {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	text-align: left;
}
.optionMenu:active {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	text-align: left;
}
/* Etoile du champ obligatoire */
.obligation {
	color: red;
}

/* Texte d'erreur de saisie */
.blockTimeSaisie {
	text-align: center;
	font-size: 14px;
	font-style: italic;
	margin-top: 10px;
}
.erreurForm {
	color: red;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	margin-top: 5px;
}

/* Div englobant le boutton d'envoi du formulaire */
.sendForm {
	text-align: center;
	width: 100%;
}
/* Boutton d'envoi du formulaire */
.sendButton {
	background-color: green;
	border: none;
	color: white;
	padding: 7px 10px;
	border-radius: 3px;
	margin-top: 50px;
}

/* Boutton pour revenir en arrière */
.back {
	margin-top: 50px;
	padding: 7px 10px;
	border: none;
	background-color: grey;
	color: white;
	text-decoration: none;
	border-radius: 3px;
}
.back:hover {
	color: white;
	text-decoration: none;
}